!!!
%html
  %head
    %title Akash Soti - Developer| Designer | Musician @ <3 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  	.container
    	= yield